# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.DS_Store

# Executables
*.swf
*.air
*.ipa
*.apk

# IDE and Editor
.idea

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/frontend/.next

# production
/build
/frontend/build
/backend/build

# misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/frontend/.env
/backend/.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel
